<% include ../partials/header %>
<p>
	<h4>Comments: "Index" Page</h4>
</p>
<p>Display expanded Post with all comments</p>

<div>
	<p>
    <a href="/posts" class ="btn btn-default">See All Posts</a>
  </p>
</div>

<% include ../partials/footer %>