<% include ../partials/header %>
<p>
	<h4>Comments: "Show" Page</h4>
</p>

<div>
	<form action="/posts/<%= comment.post._id%>/comments/<%= comment._id%>/edit" method="POST">
    <div>
      
    </div>
    <div>
      <label for="content">Content:</label>
      <input autofocus type="text" name="content" class="content">
    </div>
    <div>
      <input type="submit" value="Create Post" class ="btn btn-info">
    </div>
  </form>
</div>

<% include ../partials/footer %>