<% include ../partials/header %>
<p>
	<h4>Post: "Show" Page</h4>
</p>

<div>
	<p> 
    <h5>Post Title: <%= post.title %> </h5>
  </p>
</div>

<div>
	<p> 
    Content: <%= post.content %> 
  </p>
</div>

<div>
	<p>
	  Comments: <%= comments.content %>
	</p>
</div>


<% include ../partials/footer %>